name: Pipeline Diario Kaggle

on:
  schedule:
    # Roda de segunda a sexta às 21:00 UTC (18:00 horário de Brasília)
    - cron: '0 21 * * 1-5'
  workflow_dispatch: # Permite que você rode manualmente clicando num botão

jobs:
  run-etl:
    runs-on: ubuntu-latest
    
    steps:
      - name: Baixar código do repositório
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Executar Pipeline ETL
        env:
          KAGGLE_USERNAME: ${{ secrets.KAGGLE_USERNAME }}
          KAGGLE_KEY: ${{ secrets.KAGGLE_KEY }}
        run: python main.py